/**/
.overflow-auto{
    overflow: auto
}
.float-right{
    float: right;
}

/**/

#tasks .card-content {
    padding: 16px 24px;
}
#tasks .card-action {
    padding: 8px 24px;
}

#tasks  .chip {
    margin-bottom: 0px;
}

#tasks a {
    line-height: 20px;
    height: 20px;
    font-size: 0.8rem;
    margin: 0 10px;
}


.task-done{
    display: inline-block;
    text-decoration: line-through;
}

#task-completed-form{
    margin-bottom: 0px;
}
#task-completed-form .input-field.inline {
    margin-bottom: 0px;
    margin-top: 0px;
}
#task-completed-form .input-field .prefix {
    top:0rem;
    font-size: 1.75rem;
    width: 1.75rem;
}
#task-completed-form label {
    height: 1px;
    line-height: 20px;
    margin-left: 25px;
    width: 100px;
    top: -25px;
    font-size: 0.9rem;
}
#task-completed-form .input-field>label:not(.label-icon).active {
    transform: translateY(8px) scale(0.8);
}
#task-completed-form .task-item{
    margin-bottom: 0px;
    line-height: 20px;
    height: 20px;
    margin-left: 25px;
    width: 70px;
    
}
#task-completed-form #submit {
        line-height: 20px;
    height: 20px;
    font-size: 0.8rem;
    margin: 0 10px;
}

span.min-to-hr {
    position: absolute;
    font-size: 0.75rem;
    top: 23px;
    left: 24px;
    color: #9e9e9e;
}