#tasks .card-content {
    padding: 16px 24px;
}
#tasks .card-action {
    padding: 8px 24px;
}

#tasks  .chip {
    margin-bottom: 0px;
}

#tasks a {
    line-height: 20px;
    height: 20px;
    font-size: 0.8rem;
    margin: 0 10px;
}