<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- STYLESHEETS: libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block csslibraries %}{% endblock %} 
    
    <!-- STYLESHEETS: custom -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css')}}" type="text/css" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" /> 
    {% block csscustom %}{% endblock %} 
    
    {% if title %}
    <title>{{ title }} - Project Tracker</title>
    {% else %}
    <title>Project Tracker</title>
    {% endif %}
</head>

<body class="color-background">
    <!--navigation-->
    <nav class="color-header">
        <div class="container">
            <!--navigation on laptop/desktop-->
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo header-txt">
                PT
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}"><span>Login</span></a></li>
                    {% else %}
                    <li><a href="{{ url_for('index') }}"><span>Dashboard</span></a></li>
                    <li><a href="{{ url_for('view_projects') }}"><span>Projects</span></a></li>
                    <li><a href="{{ url_for('logout') }}"><span>Logout</span></a></li>
                    {% endif %}
                </ul>
            </div>
            <!--navigation on mobile/tablet-->
            <ul class="sidenav" id="mobile-demo">
                <div class="row" style="height: 57px;">
                    <a href="/index" class="brand-logo header-txt">PT</a>
                </div>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('index') }}">Dashboard</a></li>
                <li><a href="{{ url_for('view_projects') }}">Projects</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="container">
        <!--loading screen-->
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section"></div>
		</div>
        {% with messages = get_flashed_messages() %} 
        {% if messages %}
        <ul>
            {% for message in messages %}
            <div class="row">
                <div class="chip">
                    {{ message }}
                    <i class="close material-icons">close</i>
                </div>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    
    <!-- SCRIPTS: libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block scriptlibraries %}{% endblock %}
    
    <!-- SCRIPTS: custom -->
    <script src="{{ url_for('static', filename='js/init.js')}}"></script>
    {% block scriptcustom %}{% endblock %}

</body>
</html>
