{% extends "base.html" %} {% block content %}
<div class="row">
    <ul class="collection col s3">
        <li class="collection-item">User:</li>
        <li class="collection-item">Job Id:</li>
        <li class="collection-item">Job Name:</li>
        <li class="collection-item">Time:</li>
    </ul>
    <ul class="collection col s3">
        <li class="collection-item">{{current_user.username}}</li>
        <li class="collection-item">{{job.id}}</li>
        <li class="collection-item">{{job.name}}</li>
        <li class="collection-item">{{job.timestamp}}</li>
    </ul>

</div>
<div class="row">
    <a class="waves-effect waves-light btn-large grey darken-2" href="{{ url_for('add_task', username=current_user.username, projectno=job.id) }}">
        <i class="material-icons right">add_circle_outline</i>add task
        </a>
</div>
<hr>
<div id="tasks" class="row">
    <div class="col s12 green lighten-4">
        {% for task in tasks %}
        <div class="card">
            <article class="card-content">
                <p>{{ task.title }}</p>
            </article>
            <article class="card-action">
                <div class="chip">{{ task.genre }}</div>
            </article>
        </div>
        {% endfor %}
        <!--<div class="card">-->
        <!--    <div class="card-content">-->
        <!--        <p>Load takedowns for the beams</p>-->
        <!--    </div>-->
        <!--    <div class="card-action">-->
        <!--        <div class="chip">-->
        <!--            Calculations-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->

    </div>
</div>


    <!--{% for task in tasks %}-->
    <!--<div class="card">-->
    <!--    <article class="card-content">-->
    <!--        <p>{{ task.title }}</p>-->
    <!--    </article>-->
    <!--    <article class="card-action">-->
    <!--        <div class="chip">{{ task.genre }}</div>-->
    <!--    </article>-->
    <!--</div>-->
    <!--<li>{{ task.genre }} {{ task.title }}</li>-->
    <!--<p>-->
    <!--    {% endfor %}-->

<div class="fixed-action-btn">

</div>

{% endblock %}
