{% extends "base.html" %} {% block content %}
<!--
<div class="row">
   <ul class="collection col s3">
      <li class="collection-item">User:</li>
      <li class="collection-item">Job Id:</li>
      <li class="collection-item">Job Name:</li>
      <li class="collection-item">Time:</li>
      <li class="collection-item">Project Complete:</li>
      <li class="collection-item">All Tasks:</li>
   </ul>
   <ul class="collection col s6">
      <li class="collection-item">{{current_user.username}}</li>
      <li class="collection-item">{{job.id}}</li>
      <li class="collection-item">{{job.name}}</li>
      <li class="collection-item">{{job.timestamp}}</li>
      <li class="collection-item">{{job.completed}}</li>
      <li class="collection-item">{{tasks[0:]|length}}</li>
   </ul>
</div>
-->

<div class="row">
   <a class="waves-effect waves-light btn-large grey darken-2" href="{{ url_for('add_task', username=current_user.username, projectno=job.id) }}">
        <i class="material-icons right">add_circle_outline</i>add task
    </a>
</div>

<hr>
{% if tasks[0:]|length < 1 %}
<div class="row">
   <h5>Add a task ...</h5>
</div>

{% else %}
<div class="row">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">timer</i>Stopwatch for timing tasks</div>
      <div class="collapsible-body"><span><iframe src="http://ipadstopwatch.com/embed.html" frameborder="0" scrolling="no" width="391" height="140"></iframe></span></div>
    </li>
  </ul>
</div>

<div id="tasks" class="row">
   <div class="col s12 green lighten-4">

      <h5>To Do</h5>
      {% for task in tasks %} {% if task.completed == False %}
      <div class="card not_completed_tasks">
         <article class="card-content overflow-auto">
            <p class="col s8">{{ task.title }}</p>

            
    <form id="task-completed-form" class="col s4" method="POST" action="{{ url_for('complete_task', username=current_user.username, projectno=job.id, task_id=task.id) }}">
        {{ form.hidden_tag() }}
            <div class="input-field inline">
            <i class="material-icons prefix">access_time</i>
            {{ form.duration.label }}
            {{ form.duration(class_="task-item", id=task.id, autocomplete="off", onkeyup="minsToHours(noOfForms)") }}
            <span class="min-to-hr"></span>
            </div>
            {% for error in form.duration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %} 
        {{ form.submit() }}
    </form>            

         </article>
         <article class="card-action overflow-auto">
            <div class="col s8"><div class="chip">{{ task.genre }}</div></div>
            <div class="col s4">
            <a class="waves-effect waves-light btn-small">edit</a>
            <a class="waves-effect waves-light btn-small" href="{{ url_for('delete_task', username=current_user.username, projectno=job.id, task_id=task.id) }}">del</a>
            </div>
         </article>
      </div>
      {% endif %} {% endfor %}

      <h5>Completed</h5>
      {% for task in tasks %} {% if task.completed == True %}
      <div class="card completed_tasks">
         <article class="card-content overflow-auto">
            <section class="col s9">
               <div class="chip">{{ task.genre }}</div>
               <div class="task-done grey-text">{{ task.title }} {{task.completed}} {{task.duration}}</div>
            </section>
            <a class="waves-effect waves-light btn-small" href="{{ url_for('complete_not_task', username=current_user.username, projectno=job.id, task_id=task.id) }}">Not Complete</a>
         </article>
      </div>
      {% endif %} {% endfor %}
   </div>
</div>
{% endif %}

{% endblock %}

{% block basescripts %}
<script>
function formInputToNumber() {
    let tasks = document.getElementsByClassName("task-item");
    for(var i = 0; i < tasks.length; i++){
      tasks[i].type= "number";
    }
}
window.onload = formInputToNumber;
</script>

<script>
let noOfForms = document.getElementsByTagName("form").length;

function minsToHours(noOfForms) {
   for(var i = 0; i <= noOfForms; i++){
      let mins = document.getElementsByClassName("task-item");
      console.log(mins);
      console.log(mins[i]);
      console.log(mins[i].value);
      console.log(mins[i].valueAsNumber);
      
      var hours = Math.floor(mins[i].value/60);
      let minutes = mins[i].value%60;
      let durationConverted = hours+"hrs "+minutes+"mins";
      document.getElementsByClassName("min-to-hr")[i].innerHTML = durationConverted;
      console.log(hours+"hrs "+minutes+"mins");
    }
}
</script>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

{{ super() }} {% endblock %}