{% extends "base.html" %} {% block content %}
<h1>{{ user.username|title }}'s Projects</h1>
<a class="waves-effect waves-light btn-large" href="{{ url_for('add_project', username=current_user.username) }}"><i class="material-icons right">create_new_folder</i>add project</a>

<hr>



  {% for p in jobs %}
<div class="row">
  <div class="col s12 m12 l12">
    <a class="waves-effect waves-light btn-large col s11 grey darken-1" href="{{ url_for('view_project', username=user.username, projectno=p.id) }}" style="width:100%;">
      <span class="col s2">{{ p.number }}</span>
      <span class="col s6">{{ p.name }}</span>    
      <span class="col s2">£{{ p.value }}</span>  
      {% if p.completed==False %}
      <span class="col s2"><i class="material-icons">check_box_outline_blank</i></span>   
      {% else %}
      <span class="col s2"><i class="material-icons">check_box</i></span>   
      {% endif %}      
    </a>
  </div>
</div>
  {% endfor %}

{% endblock %}

